<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>FieldHT uses Bluetooth to discover, connect to, and control compatible radios and speaker microphones.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
 	<string>FieldHT uses your location to compute satellite passes and pointing.</string>
 	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-peripheral</string>
		<string>bluetooth-central</string>
	</array>
</dict>
</plist>
